.sidebar{
  float: right;
  border: 4px solid black;
  background-color: grey;
  padding: 2px;



}

img {
  width: auto;
  height: 300px;

}

.left img{
  float: left;

}

.right img{
  float: right;
}

.everything{
  width: 80%

}
